body{
    text-align:center;
    font-family:Arial;
    margin-top:50px;
}

#clock{
    font-size:40px;
    margin:20px;
}

#stopwatch{
    font-size:40px;
    margin:20px;
}

button{
    padding:10px 20px;
    margin:5px;
}
